.nav-link{
    color: greenyellow;
  }

  ul {
    color: lightgray
  }
  
  .accordion-button {
    color: green;
    font-weight: bolder;
    font-size: large;
    background-color:darkgray;
  }
  .accordion-item {
    background-color: black;
  }


.nav-link:active {
  background-color: brown;
  color: green;
}

.nav-link:hover {
  color: orangered
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  color: greenyellow;
  font-weight: bold;
}


