#projectSidebar {
  height: 100vh;
  position: fixed;
  color: white;
}

.logoText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1e1e2f;
  color: white;
}

.closemenu {
  cursor: pointer;
  padding: 10px;
  color: white;
}

.menu-item {
  padding: 10px;
  background-color: #f9f9f9;
  margin: 5px 0;
}

.appear {
  display: block;
}

.hidden {
  display: none;
}

.collapse {
  transition: all 0.3s ease-in-out;
}

.coming-soon {
  color: red;
  font-size: 0.8em;
  margin-left: 5px;
}

.loading {
  text-align: center;
  padding: 20px;
  font-size: 1.5em;
}


.logoText p,
.project-details h3 {
  color: cyan;
}
.project-details a{
  color: gray;
}
.project-item ul li {
    color: greenyellow;
}

.container .collapse.show {
  color: cyan;
}

#projectSidebar .pro-sidebar-inner {
  background: #000; /* To ensure the sidebar background is dark */
}